body {
  padding: 0;
  margin: 0;
  background: rgb(43, 39, 39);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  max-height: 100vh;
  margin: auto;
  background-color: cadetblue;
  position: relative;
}
header {
  text-align: center;
  background-color: rgb(30, 146, 26);
}
.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  -webkit-box-shadow: 0.5px 0.5px 5px rgb(4, 56, 17);
  box-shadow: 0.5px 0.5px 5px rgb(4, 56, 17);
}
h3 {
  padding: 0;
  margin: 0;
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
}
.input-groupe {
  padding: 0 15px;
}
.container-body {
  height: 450px;
  overflow-x: auto;
  /* overflow: hidden; */
}
.container-body::-webkit-scrollbar {
  scroll-behavior: unset;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto 0px auto;
  /* overflow: hidden; */
}

td,
th {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th,
td {
  padding: 8px;
}
th {
  background-color: rgb(95, 185, 207);
}
tr:hover {
  background-color: rgb(95, 185, 207);
}
.action-btn {
  cursor: pointer;
  margin: 0 5px;
}
#error {
  padding: 6px 12px;
  border-radius: 20px;
  z-index: 100;
}
#modal {
  display: none;
}
#modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#modal-box {
  background: #fff;
  height: 200px;
  width: auto;
  border-radius: 3px;
  padding: 0px 10px 10px 10px;
  position: relative;
}
#up-form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#close {
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 15px;
  background: red;
  cursor: pointer;
}
